{% extends 'base.html' %}

{% block content %}

<body>
  <style>
    body{
        background-image: url("https://st3.depositphotos.com/12218988/18180/i/600/depositphotos_181805582-stock-photo-woman-hold-smart-phone-and.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
  </style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>IntelliEat</h1>      
      <p>Comprar inteligente</p>
    </div>
</div>

</body>
{% endblock %}