{% extends 'base.html' %}


{% block content%}
<style>
  body{
      background-image: url("https://www.fundacionmaude.com/wp-content/uploads/2017/08/seguridad_supermercado-1024x768.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
  }
</style>


<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>IntelliEat</h1>    
      <br />  
      <h2><b>Administrar</b> Supermercados y Bodega</h2>
    </div>
</div>
    
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
            Supermercados
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                           
                    <h2>Administrar <b>Supermercados</b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodal">Agregar Mercado</button> </h2><br />
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}     
                      {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="close"> 
                            <span aria-hidden="true">x</span></button>
                            {{message}}
                        </div>
                      {% endfor %}
                           
                      {% endif %}
                    {% endwith %}       
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>ID</th>
                      <th>Nombre Supermercado</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in markets %}
                    <tr>
                      <td> {{row.id}} </td>
                      <td> {{row.name_market}} </td>
                      <td>
                        <a href="/mercados/update/{{row.id}} " class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledits{{row.id}}">Editar</a>
                        <a href="/mercados/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                        
                      </td>
                    </tr>
                          
            <!-- Modal Edit Supermarket-->
            <div id="modaledits{{row.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('updatemarket')}}" method="POST">
                      <div class="form-group">
                        <input type="hidden"name="id" value="{{row.id}}">
                        <label>Nombre Supermercado</label>
                        <input type="text" class="form-control" name="name_market" value="{{row.name_market}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                    
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Supermercado-->
            <div id="mymodal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Supermercado</h4>
                    
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crearMercado')}}" method="POST">
                      <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id" required="1">
                      </div>
                      <div class="form-group">
                        <label>Name Market</label>
                        <input type="text" class="form-control" name="name_market" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add Market</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Productos
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                    <h2>Administrar <b>Productos </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodalproducts">Agregar Productos</button> </h2>       
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}     
                      {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="close"> 
                            <span aria-hidden="true">x</span></button>
                            {{message}}
                        </div>
                      {% endfor %}
                           
                      {% endif %}
                    {% endwith %}
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>ID</th>
                      <th>Supermercado</th>
                      <th>Nombre</th>
                      <th>Detalle</th>
                      <th>Marca</th>
                      <th>Contiene</th>
                      <th>Disponible</th>
                      <th>Precio</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in products%}
                    <tr>
                      <td> {{row.idp}} </td>
                      <td> {{row.super_id}} </td>
                      <td> {{row.namep}} </td>
                      <td> {{row.detallep}} </td>
                      <td> {{row.marcap}} </td>
                      <td> {{row.contienep}} </td>
                      <td> {{row.slot}} </td>
                      <td> {{row.price}} </td>
                      <td>
                        <a href="/products/update/{{row.idp}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaleditp{{row.idp}}">Editar</a>
                        <a href="/products/delete/{{row.idp}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                      </td>
                    </tr>       
            <!-- Modal Edit Product-->
            <div id="modaleditp{{row.idp}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('updateproduct')}}" method="POST">
                      <div class="form-group">
                        <input type="hidden" class="form-control" name="idp" value="{{row.idp}}">
                        <label for="super_id">Supermercado</label>
                        <select class="form-select" id="super_id" name="super_id" aria-label="Default select example">
                          <option selected >{{row.super_id}}</option>
                          <option value="1">1.Unimarc</option>
                          <option value="2">2.Lider</option>
                          <option value="3">3.Santa Isabel</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Nombre Producto:</label>
                        <input type="text" class="form-control" name="namep" value="{{row.namep}}">
                      </div>
                      <div class="form-group">
                        <label>Detalle Producto:</label>
                        <input type="text" class="form-control" name="detallep" value="{{row.detallep}}">
                      </div>
                      <div class="form-group">
                        <label>Marca Producto:</label>
                        <input type="text" class="form-control" name="marcap" value="{{row.marcap}}">
                      </div>
                      <div class="form-group">
                        <label>Contiene:</label>
                        <input type="text" class="form-control" name="contienep" value="{{row.contienep}}">
                      </div>
                      <div class="form-group">
                        <label> Disponible:</label>
                        <input type="text" class="form-control" name="slot" value="{{row.slot}}">
                      </div>
                      <div class="form-group">
                        <label>Precio:</label>
                        <input type="text" class="form-control" name="price" value="{{row.price}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Productos-->
            <div id="mymodalproducts" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Producto</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crearproducto')}} " method="POST">
                      <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="idp" >
                      </div>
                      <div class="form-group">
                        <label for="super_id">Supermercado</label>
                        <select class="form-select" id="super_id" name="super_id" aria-label="Default select example">
                          <option value="1">1.Unimarc</option>
                          <option value="2">2.Lider</option>
                          <option value="3">3.Santa Isabel</option>
                         <!-- <option value="4">4.Tottus</option>-->
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="namep" required="1">
                      </div>
                      <div class="form-group">
                        <label>Detalle Producto</label>
                        <input type="text" class="form-control" name="detallep" >
                      </div>
                      <div class="form-group">
                        <label>Marca</label>
                        <input type="text" class="form-control" name="marcap" required="1">
                      </div>
                      <div class="form-group">
                        <label>Contiene</label>
                        <input type="text" class="form-control" name="contienep">
                      </div>
                      <div class="form-group">
                        <label>Disponibilidad</label>
                        <input type="text" class="form-control" name="slot" required="1">
                      </div>
                      <div class="form-group">
                        <label>Precio</label>
                        <input type="text" class="form-control" name="price" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Producto</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 </div>
</div>
    
{% endblock %}